@import "style";

.mainWrapper {
    &--inner {
        background-color: var(--Color__White);

        border-radius: 48px;
        box-shadow: var(--Effect__Wide);
    }
}
.cleaningApartments {
    padding: 0 48px;
    width: 100%;

    @media screen and (max-width: 800px) {
        padding: 0 24px;
    }

    &--wrapper {
        @include displayFlex(flex-start, center, column);

        gap: 24px;
        width: 100%;

        .typeCleaning {
            @include displayFlex(center, center, column);
            gap: 24px;

            padding: 0 48px;

            @media screen and (max-width: 800px) {
                padding: 0 24px;
            }

            width: 100%;

            &Title {
                @include font(
                    var(--SizeText__LargeSubtitle),
                    700,
                    "MontserratAlternates-Bold"
                );

                text-align: center;
                color: var(--Color__Main);
            }

            &List {
                @include displayFlex(center, space-between);
                flex-wrap: wrap;
                row-gap: 32px;
                width: 100%;
            }

            &Item {
                &s {
                    background-color: var(--Color__BGGrey);
                    border-radius: 48px;
                    min-height: 450px;
                    max-width: 375px;
                    width: 100%;
                    height: 100%;

                    padding: 24px;

                    @include displayFlex(center, flex-start, column);
                    gap: 10px;
                }

                &Img {
                    width: 74px;
                    &--inner {
                        @include displayFlex(center, center, column);
                        @include backgroundImg(
                            "../images/frequentlyUsedIcons/decor/Img6.webp",
                            contain,
                            center,
                            no-repeat
                        );

                        width: 105px;
                        height: 92px;
                    }
                }

                &Title {
                    @include font(
                        var(--SizeText__VerySmallSubtitle),
                        400,
                        "Montserrat-Bold"
                    );
                    color: #333333;

                    word-break: break-all;
                }

                &Text {
                    @include font(
                        var(--SizeText__Regular),
                        400,
                        "Inter-Regular"
                    );
                    color: #333333;
                    word-break: break-word;
                }
            }
        }

        .priceClining {
            @include displayFlex(flex-start, center, column);
            gap: 24px;

            padding: 0 48px;

            @media screen and (max-width: 800px) {
                padding: 0 24px;
            }

            width: 100%;

            &Title {
                @include font(
                    var(--SizeText__LargeSubtitle),
                    700,
                    "MontserratAlternates-Bold"
                );

                color: var(--Color__Main);
                width: 100%;
                text-align: center;
            }

            &Text {
                @include font(var(--SizeText__Regular), 400, "Inter-Regular");
                color: #333333;
                width: 100%;
            }
        }

        .feedback {
            padding: 0 48px;

            @media screen and (max-width: 800px) {
                padding: 0 24px;
            }
        }

        .cleaningNecessity {
            @include displayFlex(flex-start, center, column);
            gap: 24px;
            width: 100%;

            padding: 0 48px;

            @media screen and (max-width: 800px) {
                padding: 0 24px;
            }

            &Title {
                @include titleBlock();

                text-align: center;
                word-break: break-word;
                width: 100%;
            }

            &List {
                @include displayFlex(flex-start, space-between);

                flex-wrap: wrap;
                row-gap: 32px;
                width: 100%;
            }

            &Item {
                &s {
                    max-width: 378px;
                    width: 100%;
                    height: 100%;

                    @include displayFlex(flex-start, space-between, column);
                    gap: 32px;
                }

                &Img {
                    max-width: 258px;
                    width: 100%;
                    height: 151px;
                    border-radius: 48px;
                }

                &Inner {
                    @include displayFlex(flex-start, center, column);
                }

                &Title {
                    @include font(
                        var(--SizeText__VerySmallSubtitle),
                        400,
                        "Montserrat-Bold"
                    );
                    color: #333333;

                    word-break: break-all;
                }

                &Text {
                    @include font(
                        var(--SizeText__Regular),
                        400,
                        "Inter-Regular"
                    );
                    color: #333333;
                    word-break: break-word;
                }
            }
        }

        .blockInfo {
            padding: 0 48px;

            @media screen and (max-width: 800px) {
                padding: 0 24px;
            }

            &--wrapper {
                @include displayFlex(center, space-between);
                flex-wrap: wrap;

                background-color: var(--Color__BGGrey);
                width: 100%;
                border-radius: 48px;

                padding: 48px;
                @media screen and (max-width: 800px) {
                    padding: 24px;
                }
            }

            @media screen and (max-width: 800px) {
                padding: 0 24px;
            }

            &--wrapperImg {
                width: auto;
                height: 100%;

                & > img {
                    width: 100%;
                }
            }

            &--content {
                @include displayFlex(flex-start, center, column);
                gap: 13px;

                @media screen and (max-width: 1240px) {
                    width: 100%;
                }
                width: 70%;
            }

            &--title {
                @include font(
                    var(--SizeText__VerySmallSubtitle),
                    400,
                    "Montserrat-Bold"
                );
                color: #333333;

                word-break: break-all;
            }

            &--text {
                @include font(var(--SizeText__Regular), 400, "Inter-Regular");
                color: #333333;
                word-break: break-word;
            }
        }

        .commentCustomers {
            padding: 0 48px !important;

            @media screen and (max-width: 800px) {
                padding: 0 24px !important;
            }
        }

        .questions {
            padding: 24px 0 !important;
        }
    }

    &--title {
        @include titleBlock();

        width: 100%;
        word-wrap: break-word;

        padding: 0 48px;

        @media screen and (max-width: 800px) {
            padding: 0 24px;
        }
    }

    &--text {
        color: #333333;

        @include font(var(--SizeText__Regular), 400, "Inter-Regular");

        span {
            font-weight: 700;
        }

        padding: 0 48px;

        @media screen and (max-width: 800px) {
            padding: 0 24px;
        }
    }

    &--includedCleaning {
        @include displayFlex(center, center, column);
        gap: 24px;

        width: 100%;

        padding: 0 48px;

        @media screen and (max-width: 800px) {
            padding: 0 24px;
        }

        &Title {
            @include font(
                var(--SizeText__LargeSubtitle),
                700,
                "MontserratAlternates-Bold"
            );
            text-align: center;
            color: var(--Color__Main);
        }
    }

    &List {
        @include displayFlex(center, center, column);
        gap: 24px;

        @media screen and (max-width: 1000px) {
            gap: 40px;
        }

        counter-reset: countItems;
    }

    &Items {
        @include displayFlex(flex-start, space-between);
        gap: 32px;

        @media screen and (max-width: 1000px) {
            flex-wrap: wrap;
            gap: 18px;
        }
    }

    .AfterRenivationDontPadding {
        padding: 0 !important;
    }

    .questionsDontPadding {
        padding: 0 !important;
    }

    &--innerImg {
        max-width: 502px;
        max-height: 293px;

        width: 60%;

        @media screen and (max-width: 1000px) {
            width: 100%;
        }

        height: 100%;
        position: relative;

        &::after {
            counter-increment: countItems;
            content: "" counter(countItems);
            padding: 18px 33px;

            position: absolute;
            top: 0;
            left: 0;

            background-color: var(--Color__Main);
            @include titleBlock();
            color: var(--Color__White);
            border-radius: 40px 0px 40px 0px;
        }
    }

    &Img {
        width: 100% !important;
        height: 100% !important;
        max-width: 100% !important;

        border-radius: 40px;
        box-shadow: var(--Effect__Image);
    }

    &Item {
        @include displayFlex(flex-start, center, column);
        gap: 13px;

        width: 60%;

        @media screen and (max-width: 1000px) {
            width: 100%;
        }

        &--title {
            @include font(
                var(--SizeText__MediunSubtitle),
                700,
                "MontserratAlternates-Bold"
            );
            color: #333333;
        }

        &--list {
            @include displayFlex(flex-start, center, column);
            gap: 10px;

            list-style-type: disc;
            padding-left: 20px;
        }

        &--items {
            & > p {
                @include font(var(--SizeText__Regular), 400, "Inter-Regular");
            }
        }
    }
}
