@import "style";

.WetСleaning {
    &--info {
        padding: 0px 48px;
        
        @media screen and (max-width: 800px) {
            padding: 0 24px;
        }
    }

    &--title {
        padding: 36px 0px;
        text-align: center;
        @include titleBlock();
        color: var(--Color__Main);
    }

    &--text {
        @include font(var(--SizeText__Regular), 400, "Inter-Regular");
    }
}

.main {
    &Wrapper {
        .StandardServicesBlock--items {
            min-height: 515px;
        }
    }
    .commentCustomersContent {
        box-shadow: none;
        padding: 0;
    }
    .commentCustomers{
        margin: 0;
    }
}