@import "style";

@import "CliningOffice";

.mainWrapper {
    &--inner {
        @include displayFlex(flex-start, center, column);
        gap: 32px;
    }

    .ourAbout {
        &Inner {
            padding: 0;
            box-shadow: none;
            background-color: var(--Color__BGGrey);
        }
        background-color: var(--Color__White);

        border-radius: 48px;
        padding: 48px;

        @media screen and (max-width: 800px) {
            padding: 24px;
        }

        box-shadow: var(--Effect__Wide);
    }

    .feedback {
        width: 100%;

        &Wrapper {
            background-color: var(--Color__White);
        }
    }
}
