@mixin displayFlex(
    $alignItems: center,
    $justifyContent: space-between,
    $flexDirection: row
) {
    display: flex;
    flex-direction: $flexDirection;
    align-items: $alignItems;
    justify-content: $justifyContent;
}

@mixin font(
    $fontSize: 16px,
    $fontWeight: 400,
    $fontFamily: "Inter-Regular",
    $lineHeight: normal
) {
    font-family: $fontFamily;
    font-size: $fontSize;
    line-height: $lineHeight;
    font-weight: $fontWeight;
}

@mixin titleBlock() {
    @include font(var(--SizeText__Title), 700, "MontserratAlternates-Bold");
    color: var(--Color__Main);
    text-align: center;
    text-transform: uppercase;
}

@mixin backgroundImg(
    $urlPath,
    $size: cover,
    $position: center,
    $repeat: no-repeat
) {
    background: url($urlPath);
    background-position: $position;
    background-repeat: $repeat;
    background-size: $size;
}

.main {
    background-color: var(--Color__BGGrey);

    padding-bottom: 50px;

    .slider {
        margin-bottom: 15px;

        .slick-list {
            height: 520px;

            margin-bottom: 15px;
        }

        .slick-track {
            height: 100%;
        }

        .slick-dots {
            @include displayFlex(center, center);
            font-size: 0;

            .slick-active {
                button {
                    width: 12px;
                    height: 12px;
                    background: var(--Color__AccentGradient);
                }
            }

            button {
                width: 8px;
                height: 8px;
                font-size: 0;
                background-color: var(--Color__FontGrayInactive);
                border-radius: 50px;
            }

            li {
                margin: 0 11px;
            }
        }

        &Items {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &Item {
            @include displayFlex(center, center);
            height: 100%;
        }

        &Content {
            @include displayFlex(center, flex-end);
        }

        &Content--decor {
            @include displayFlex(center, space-between, column);

            position: relative;
        }

        &Content--decor > h2 {
            @include font(
                var(--SizeText__LargeSubtitle),
                700,
                "MontserratAlternates-Bold"
            );
            color: var(--Color__Main);
            z-index: 500;
            max-width: 350px;
            text-align: center;
        }
        &Content--decor > h2 span {
            @include font(var(--SizeText__Title), 900, "Inter-Bold");
            color: #0caec4;
        }

        &Content--imgLogo {
            max-width: 350px;

            margin-bottom: 13px;
            z-index: 500;
        }

        &Content--bg {
            position: absolute;
            top: 53%;
            left: 54%;
            transform: translate(-50%, -50%);

            max-width: 580px;
            z-index: 100;
        }
    }

    &Info {
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;

        padding-bottom: 48px;

        &--wrapper {
            background-color: var(--Color__White);

            padding: 24px;
            border-radius: 48px;
            box-shadow: var(--Effect__Wide);

            text-align: center;

            h3 {
                @include font(
                    var(--SizeText__MediunSubtitle),
                    700,
                    "MontserratAlternates-Bold"
                );

                color: var(--Color__Main);
            }
            h4 {
                @include font(
                    var(--SizeText__VerySmallSubtitle),
                    700,
                    "Montserrat-Bold"
                );

                color: var(--Color__Main);
            }
            p {
                @include font(var(--SizeText__Regular), 400, "Inter-Regular");

                color: 000;
            }
        }
    }

    .ourServices {
        background-color: var(--Color__BGGrey);

        padding-bottom: 48px;

        &--wrapper {
            @include displayFlex(center, center, column);
        }

        &--title {
            @include titleBlock();

            margin-bottom: 32px;
        }

        .listServices {
            @include displayFlex(flex-start, center);

            flex-wrap: wrap;
            gap: 32px;

            &--items {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;

                border-radius: 42px;

                width: 404px;
                height: 236px;

                @include displayFlex(center, flex-end, column);
            }

            &--item {
                width: 100%;
                background: var(--Color__MainTransparent);

                border-radius: 0 0 42px 42px;
                padding: 11px 12px;

                @include displayFlex(center, center, column);
            }

            &--text {
                @include font(
                    var(--SizeText__VerySmallSubtitle),
                    700,
                    "MontserratAlternates-Bold"
                );
                color: var(--Color__White);

                margin-bottom: 10px;
            }
        }
    }

    &InnerWrapper {
        max-width: 1920px;
        margin: 0 auto;

        background-color: var(--Color__White);
        box-shadow: var(--Effect__Wide);
        border-radius: 48px;
        padding-bottom: 48px;
    }

    .offer {
        &Wrapper {
            @include displayFlex(center, center, column);
            gap: 48px;

            padding: 48px 0;

            &--title {
                @include titleBlock();
            }
        }

        &List {
            @include displayFlex(flex-start, space-evenly);

            flex-wrap: wrap;
            gap: 24px;

            &--items {
                @include displayFlex(center, space-evenly, column);

                gap: 15px;
                max-width: 248px;
            }
        }

        &Item {
            &--imgInner {
                @include displayFlex(center, center, column);

                width: 137px;
                height: 125px;
            }

            &--img {
                width: 106px;
            }

            &--title {
                @include font(
                    var(--SizeText__VerySmallSubtitle),
                    700,
                    "Montserrat"
                );
                color: var(--Color__Main);
                text-align: center;
            }

            &--text {
                text-align: center;
            }
        }
    }

    .ourWorks {
        margin-bottom: 48px;
        &Wrapper {
            @include displayFlex(center, center, column);
            gap: 32px;
        }

        &--title {
            @include titleBlock();
        }

        &List {
            @include displayFlex(flex-start, center, column);
            gap: 24px;

            width: 100%;
        }

        .Works {
            &ListSlider {
                max-height: 860px;
                width: 100%;
                height: 100%;

                .ListSliderImg {
                    @include backgroundImg(
                        "../images/ourWorks/ourWorksDecor/WorksDecorMainImg.png"
                    );
                    @include displayFlex(flex-start, flex-start);

                    height: 475px;
                    border-radius: 42px;
                    padding: 32px;

                    &--decor {
                        @include backgroundImg(
                            "../images/ourWorks/ourWorksDecor/WorksDecor1.png",
                            contain
                        );
                        @include displayFlex(center, center);

                        width: 500px;
                        height: 100%;

                        span {
                            @include font(
                                36px,
                                700,
                                "MontserratAlternates-Bold"
                            );
                            text-align: center;
                            color: var(--Color__White);
                        }
                    }
                }
            }

            &ListContent {
                @include displayFlex(flex-start, space-evenly);
                gap: 24px;
                flex-wrap: wrap;
            }

            &Items {
                @include displayFlex(center, center, column);
                gap: 19px;

                max-width: 193px;
            }

            &Item--img {
                width: 156px;
                border-radius: 20px;
            }

            &Item--text {
                @include font(
                    var(--SizeText__ThinTextButton),
                    700,
                    "MontserratAlternates-Bold"
                );
                text-align: center;
                color: var(--Color__Main);
            }

            &ItemImg-activ {
                img {
                    width: 186px;
                    border-radius: 24px;
                }
                p {
                    @include font(
                        var(--SizeText__MediunSubtitle),
                        700,
                        "MontserratAlternates-Bold"
                    );
                }
            }
        }
    }

    .feedback {
        margin-bottom: 48px;

        &Wrapper {
            padding: 24px;
            border-radius: 48px;
            box-shadow: var(--Effect__Wide);

            @include displayFlex(center, center, column);
            gap: 24px;
        }

        &Title {
            @include font(
                var(--SizeText__LargeSubtitle),
                700,
                "MontserratAlternates-Bold"
            );
            color: var(--Color__Main);
            text-align: center;
            max-width: 800px;
        }

        &Text {
            @include font(
                var(--SizeText__VerySmallSubtitle),
                400,
                "Inter-Regular"
            );
            color: black;
            text-align: center;
        }

        &Form {
            @include displayFlex(center, space-between);

            gap: 24px;

            max-width: 829px;
            width: 100%;

            &--input {
                padding: 8px 12px 12px;
                color: black;
                border-radius: 12px;

                width: 100%;
                border: 1px solid var(--Color__FontGrayInactive);

                &::placeholder {
                    color: black;
                }
            }
        }

        &Btn {
            @include font(
                var(--SizeText__ThinTextButton),
                400,
                "MontserratAlternates-Regular"
            );
        }
    }

    .commentCustomers {
        margin-bottom: 48px;

        &Wrapper {
            @include displayFlex(center, flex-start, column);

            gap: 32px;
        }

        &Title {
            @include titleBlock();
        }

        &Content {
            padding: 24px;
            border-radius: 48px;
            box-shadow: var(--Effect__Wide);

            &--wrapper {
                @include displayFlex(flex-start, center, column);

                gap: 15px;
            }

            .comment {
                &Content {
                    &Title {
                        @include displayFlex(center, flex-start);

                        gap: 15px;
                    }
                    &Text {
                        @include font(
                            var(--SizeText__Regular),
                            400,
                            "Inter-Regular"
                        );
                    }
                }

                &Title {
                    &--img {
                        max-width: 90px;
                        max-height: 90px;

                        img {
                            width: 89px;
                            height: 89px;

                            border-radius: 50%;
                        }
                    }

                    &--personInfo {
                        @include displayFlex(flex-start, center, column);

                        &Name {
                            @include font(
                                var(--SizeText__MediunSubtitle),
                                700,
                                "MontserratAlternates-Bold"
                            );
                            color: var(--Color__Main);
                            text-align: left;
                            text-transform: unset;
                        }

                        &WhatDoes {
                            margin-bottom: 10px;
                        }

                        &Estimation {
                            @include displayFlex(center, center);

                            gap: 5px;
                        }
                    }
                }
            }
        }
    }

    .questions {
        margin-bottom: 48px;

        &Wrapper {
            @include displayFlex(center, center, column);

            gap: 32px;
        }

        &Title {
            @include titleBlock();
        }

        &List {
            @include displayFlex(center, center, column);

            gap: 32px;

            width: 100%;
        }

        &Items {
            @include displayFlex(center, flex-start, column);

            width: 100%;

            .item {
                &Btn {
                    width: 100%;
                    padding: 18.5px 24px;
                    background-color: var(--Color__BGGrey);

                    @include font(
                        var(--SizeText__MediunSubtitle),
                        700,
                        "MontserratAlternates-Bold"
                    );
                    color: var(--Color__Main);
                    cursor: pointer;
                    text-align: left;

                    border-radius: 24px;
                }

                &Btn:after {
                    content: "";
                    @include backgroundImg(
                        "../images/questionDecor/decor.svg",
                        contain
                    );
                    float: right;
                    width: 20px;
                    height: 20px;

                    transition: 0.4s;
                }

                &Inner {
                    max-height: 0;
                    overflow: hidden;

                    @include font(
                        var(--SizeText__VerySmallSubtitle),
                        400,
                        "Inter-Regular"
                    );

                    transition: all 0.2s ease-out;
                }
            }

            .active::after {
                content: "";
                @include backgroundImg(
                    "../images/questionDecor/decorReverse.svg",
                    contain
                );
                float: right;
                width: 20px;
                height: 20px;
            }
        }
    }

    .ourStocks {
        margin-bottom: 48px;

        &Wrapper {
            @include displayFlex(center, center, column);

            gap: 48px;
        }

        &Title {
            @include titleBlock();
        }

        &Slider {
            @include displayFlex(center, center);

            gap: 10px;

            height: 435px;
            width: 100%;

            .slick {
                &-list {
                    height: 100%;
                }
                &-track {
                    height: 100%;
                }

                &-arrow {
                    max-width: 72px;
                    min-width: 72px;
                    width: 72px;
                    height: 72px;

                    border-radius: 50%;
                    font-size: 0;
                }

                &-prev {
                    @include backgroundImg(
                        "../images/ourStocks/decor/ourStocksArrowImgPrev.svg",
                        auto
                    );
                    background-color: var(--Color__BGGrey);
                }

                &-next {
                    @include backgroundImg(
                        "../images/ourStocks/decor/ourStocksArrowImgNext.svg",
                        auto
                    );
                    background-color: var(--Color__BGGrey);
                }
            }
        }

        &Items {
            @include displayFlex(flex-end, center, column);

            padding: 30px;

            width: 100%;
            height: 100%;

            border-radius: 42px;

            &--content {
                @include displayFlex(flex-end, center, column);

                gap: 20px;

                max-width: 465px;
                width: 100%;
            }

            &--title {
                @include titleBlock();

                color: Var(--Color__White);
                text-align: center;
            }

            &--text {
                @include font(
                    var(--SizeText__MediunSubtitle),
                    700,
                    "MontserratAlternates-Bold"
                );

                color: Var(--Color__White);
                text-align: center;
                text-transform: lowercase;
            }
        }
    }

    .ourAbout {
        &Wrapper {
            @include displayFlex(center, center, column);

            gap: 24px;
        }

        &Title {
            @include titleBlock();
        }

        &TriggerText {
            @include font(
                var(--SizeText__VerySmallSubtitle),
                700,
                "Montserrat-Bold"
            );
            color: var(--Color__Main);
            text-align: left;
        }

        &Block {
            &Info {
                @include displayFlex(center, space-between);

                gap: 10px;

                &--img {
                    max-width: 350px;
                    max-height: 190px;

                    width: 100%;
                    height: 100%;

                    &2 {
                        max-width: 368px;
                        max-height: 283px;

                        width: 100%;
                        height: 100%;
                    }
                }

                &--content {
                    @include displayFlex(center, center, column);

                    gap: 13px;
                    width: 100%;
                    color: #333333;

                    &Title {
                        @include font(
                            var(--SizeText__MediunSubtitle),
                            700,
                            "MontserratAlternates-Bold"
                        );
                        width: 100%;
                        color: inherit;
                    }

                    &Text {
                        @include font(
                            var(--SizeText__Regular),
                            400,
                            "Inter-Regular"
                        );

                        color: inherit;
                        width: 100%;
                    }

                    &List {
                        @include font(
                            var(--SizeText__Regular),
                            400,
                            "Inter-Regular"
                        );
                        color: inherit;
                        padding-left: 20px;

                        width: 100%;

                        list-style-type: disc;

                        @include displayFlex(flex-start, center, column);
                        gap: 10px;

                        &Decor {
                            @include displayFlex(flex-start, center, column);

                            gap: 12px;
                        }
                    }

                    &Items {
                        & > p {
                            @include font(
                                var(--SizeText__Regular),
                                400,
                                "Inter-Regular"
                            );
                            color: inherit;
                        }

                        &Decor {
                            @include displayFlex(center, space-between);

                            gap: 12px;
                        }
                    }

                    &Item {
                        &ImgDecor {
                            @include displayFlex(center, center, column);
                            width: 105px;
                            height: 93px;

                            max-width: 105px;
                            min-width: 105px;

                            &--img {
                                width: 74px;
                            }
                        }

                        &Inner {
                            @include displayFlex(flex-start, center, column);

                            gap: 13px;

                            &--Title {
                                @include font(
                                    var(--SizeText__VerySmallSubtitle),
                                    700,
                                    "Montserrat-Bold"
                                );
                            }

                            &--Text {
                                @include font(
                                    var(--SizeText__Regular),
                                    400,
                                    "Inter-Regular"
                                );
                            }

                            &--List {
                                @include font(
                                    var(--SizeText__Regular),
                                    400,
                                    "Inter-Regular"
                                );
                                color: inherit;
                                padding-left: 20px;

                                width: 100%;

                                list-style-type: disc;

                                @include displayFlex(
                                    flex-start,
                                    center,
                                    column
                                );
                            }

                            &--items {
                                & > p {
                                    color: inherit;
                                }
                            }
                        }
                    }
                }

                &Reverse {
                    width: 100%;
                    flex-direction: row-reverse;

                    padding: 46px 0;
                    position: relative;

                    img {
                        max-width: 390px;
                        max-height: 390px;
                        width: 390px;
                        height: 390px;

                        position: absolute;
                        z-index: 500;
                    }

                    li {
                        max-width: 785px;
                    }
                }
            }

            &Contact {
                @include displayFlex(flex-start, center, column);
                gap: 17px;
                width: 100%;

                &--title {
                    @include font(
                        var(--SizeText__VerySmallSubtitle),
                        700,
                        "MontserratAlternates-Bold"
                    );
                }

                &List {
                    list-style-type: decimal;

                    @include displayFlex(flex-start, center, column);
                    @include font(var(--SizeText__Regular), 400, "Inter-Regular");
                    gap: 13px;
                    padding-left: 20px;
                }
            }

            &Tel{
                @include displayFlex(center, center);
                @include font(var(--SizeText__MediunSubtitle), 700, "MontserratAlternates-Bold");
                gap: 10px;

                color: var(--Color__Main);

                &Img{
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}
